 {% extends 'User_Accounts/base.html' %}


{% block user %}
{% for post in posts %}
        
<article class="media content-section">
<div class="media-body"><div class="article-metadata">
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>   
    <a class="mr-2" href="#">{{ post.author }}</a>
    <p class="article-content">{{ post.post }}</p>
    <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    
   
</div>
</article>
{% endfor %}


{% endblock user %}
    
